.top{
    background-color: #B6E2D3;
    padding-top: 100px;
    
}
.tcloud{
    position: relative;
    left :30%;
}
.bcloud{
    position: absolute;
}
body{
    margin : 0;
    text-align: center;
    
}
h1{
    font-family: 'Sacramento', cursive;
    color: #4CAF50;
    font-size: 64px;
}
.pic{
    margin-top: 60px;
    height: 200px;
    width : 200px;

}
.pi,h2{
    font-family: 'Nerko One', cursive;
    color: #4CAF50;
    font-size: 30px;

}
.para{
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    padding : 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 25px;
}
hr{
    border-width: 10px 0 0 0;
    border-top-style: dotted;
    border-color: grey;
    width: 80px;
}
.dsg{
    text-align: left;
    margin: 3em 0 6em;
}
.merge{
    display: flex;
    align-items: center;
}
.bottom{
    height: 50px;
    width:250px;
    background-color: #4CAF50;
    display: inline-block;
}
.msg{
    font-family: 'Nerko One', cursive;
    color: #d6e0d7;
    font-size: 30px;
    margin: 0;
}
.middle,.bg{
    background-color: #B6E2D3;
}
